<ul class="footer">
  <li><img src="/imgs/footer_logo.png" /></li>
  <li id="footer_text">LinkUp Studio<br> всі права захищено</li>
  <li id="tw">
    <a href="/login"></a>
  </li>
  <li id="ggl">
    <a href="/login"></a>
  </li>
  <li id="fb">
    <a href="/registration"></a>
  </li>
</ul>
