<% layout('./layout/page') -%>
<div class="container">
  <div class="onebook">
    <a href="/book">
      <img src="/imgs/book_ttl1.png" width="100px">
    </a>
    <div class="book_part">
      <ul class="book_char">
        <li>
          <a href="/book"><b>Title</b></a>
        </li>
        <li>
          <b>Author</b>
        </li>
        <li>
          <b>Pages</b>
        </li>
        <li>
          <b>Rating</b>
        </li>
        <li>
          <b>Short description</b>
        </li>
      </ul>
    </div>
  </div>
  <div class="onebook">
    <a href="/book">
      <img src="/imgs/book_ttl1.png" width="100px">
    </a>
    <div class="book_part">
      <ul class="book_char">
        <li>
          <a href="/book"><b>Title</b></a>
        </li>
        <li>
          <b>Author</b>
        </li>
        <li>
          <b>Pages</b>
        </li>
        <li>
          <b>Rating</b>
        </li>
        <li>
          <b>Short description</b>
        </li>
      </ul>
    </div>
  </div>
  <div class="onebook">
    <a href="/book">
      <img src="/imgs/book_ttl1.png" width="100px">
    </a>
    <div class="book_part">
      <ul class="book_char">
        <li>
          <a href="/book"><b>Title</b></a>
        </li>
        <li>
          <b>Author</b>
        </li>
        <li>
          <b>Pages</b>
        </li>
        <li>
          <b>Rating</b>
        </li>
        <li>
          <b>Short description</b>
        </li>
      </ul>
    </div>
  </div>
</div>