<% layout('./layout/page') -%>
<div class="container">
  <center>
    <p id="regist_text">Book title</p>
  </center>
  <div class="book">
    <img src="/imgs/book_ttl1.png" width="200px">
    <div class="book_part">
      <ul class="profile_char">
        <li>
          <b>Author:</b>
        </li>
        <li>
          <b>Pages:</b>
        </li>
        <li>
          <b>Year:</b>
        </li>
        <li>
          <b>Series:</b>
        </li>
        <li>
          <b>Minimum age:</b>
        </li>
        <li>
          <b>Rating:</b>
        </li>
      </ul>
    </div>
    <div class="descript_box">
      <b>Description:</b>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non felis sed orci eleifend pulvinar id vitae leo. Aliquam pellentesque, lacus in fringilla dignissim, eros erat faucibus enim...</p>
    </div>
  </div>
</div>


